/*Page*/

#bloc_page
{
    width: 1200px;
    margin: auto;
}

/*Header*/

header{
    display: flex;
    justify-content:space-between;
}

/*Navigation*/

nav ul {
        list-style-type: none;
        display: flex;
    
    }

nav li {
    margin-right: 22px;

}

nav a {
    color : black;
    text-decoration: none;
}

nav a:focus {
    color : #0065FC;
    
}


#inscrire {
    color: #0065FC;
    font-weight: bold;
}

/*Filtres*/

.filtres {
    display: flex;

}


/*Section Hébergements*/


section{
   display: flex;
  
}

article{
    flex: 2.9;
    margin-right: 15px;
    background-color: #F2F2F2;
    border-radius: 20px;
}

.hebergements{
    display: flex;
    flex-wrap: wrap;
}

figure{
    width: 250px;
    height: auto;
    margin: 20px 10px;
    border: solid 2px white;
    border-radius: 20px;
    background-color: white;
    line-height:1px;
    

}

.img-hebergements{
    width: 100%;
    height: 100px;
    object-fit: cover;

}



aside{
    background-color: #F2F2F2;
    border-radius: 20px;
    flex: 1.2;
    float: right;
}

.titre-populaire{
    display: flex;
    justify-content: space-between;
    
}



.populaire{
    display: flex;
    flex-direction: column;
}

.figure-populaire{
    
    border: solid;
    width: 100%;
    height: 120px;
    line-height:18px;
    width: 90%;
}

.img-populaire{
    width: 128px;
    height: 120px;
    object-fit: cover;
    float: left;
    
}

/*Activité*/

.activites{
    background-color: white;
    margin-top: 25px;
}




.colonnes{
    display: flex;
    flex-wrap: wrap;   
}

.colonnes figure{
    box-shadow: 1px 1px 5px black;
    border-radius: 15px;
    border : 0px;

}

.colonnes figcaption{
    height: 15px;
    padding-left: 15px ;
}



/*Colonne 1*/ 


.colonne1 img{
    width: 90%;
    height: 350px;
    object-fit: cover;
  

}

/*Colonne 2*/ 


.colonne2 img{
    width: 100%;
    height: 60px;
    object-fit: cover;
  
}

#fort{
    width: 100%;
    height: 90px;
}

/*Colonne 3*/ 


.colonne3 img{
    width: 100%;
    height: 350px;
    object-fit: cover;
}

/*Colonne 4*/ 

#img-garde{
    width: 100%;
    height: 60px;
    object-fit: cover;
}

.colonne4 img{
    width: 100%;
    height: 70%;
    object-fit: cover;
  
}

/*Footer*/

#footer{
    display: flex;
    background-color: #F2F2F2 ;
    
}

#footer a{
    display: block;
    text-decoration: none;
    color: black;
    padding-bottom: 10px;
}

.footer-colonne1, .footer-colonne2, .footer-colonne3{
    margin: 10px 200px 10px 40px;
}




