/*Police écriture*/

@font-face {
    font-family: 'Releway';
    src: url('MaSuperPolice.eot');
}

/*Page*/

#bloc_page
{
    max-width: 1300px;
    margin: auto;
    font-family: 'Raleway', sans-serif;
  

}



/*Header*/

header{
    display: flex;
    justify-content:space-between;
    margin-bottom: 30px;
}

@media all and (max-width:800px){
    #logo, .inscrire {
        
        display: flex;
    }

     .menu {
        flex-direction: c;

}}

/*Navigation*/

#logo{
    padding: 32px 0px 0px 0px ;

}

nav {
        
        display: flex;
        
    }


nav a {
    color : black;
    text-decoration: none;
    padding: 32px;
    
    
}

nav .menu:focus {
    color : #0065FC;
    border-top:solid 3px #0065FC ;
    
}

nav .menu:hover {
    border-top:solid 3px #0065FC ;
    color: #0065FC;
    
}


.inscrire {
    display: flex;
    align-items: center;
    color: #0065FC;
    font-weight: bold;
}


/*Recherche*/

h1{
    font-size: medium;
    font-weight: 800;
    line-height: 2px;
}

@media all and (max-width: 800px){
    h1{
        line-height: 15px;
    }
}

p{
    font-size: small;
}

.fa-map-marker-alt:before{
    background-color: #F2F2F2;
    padding: 8px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

input[type=search]{
    font-weight: bold;
    padding: 6px;
    border: solid 1px #F2F2F2;

}

input[type=button] {
    color: white;
    font-size: 12px;
    background-color:#0065FC ;
    padding:7px;
    border: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
/*Filtres*/

.filtres {
    display: flex;
    align-items: baseline;
    
}

@media all and (max-width:800px){
    .filtres{
        display: block;
    
    }
}

h2{
    font-size: small;
    font-weight: bold;
    margin-right: 10px;
}

.fa-money-bill-wave:before, .fa-child:before,.fa-heart:before,  .fa-dog:before {
    color: #0065FC ;
    background-color: #DEEBFF;
    padding: 11px;
    border-radius: 20px;
    position: relative;
    left: 25px;

}
#economique, #familial, #romantique, #animaux {
    color: black;
    font-weight: bold;
    background-color: white;
    border: solid 2px #f2f2f2 ;
    border-radius: 20px;
    padding: 10px 15px 10px 30px;
    
}

/*Section Hébergements*/


section{
   display: flex;
   width: 100%;
   max-width: 1300px;
  
}

@media all and (max-width:800px){
    section, aside {
        flex-direction: column-reverse;
        margin-bottom: 10px;
        width: 100%;
        
    }

}

article{
    flex: 3;
    margin-right: 15px;
    background-color: #F2F2F2;
    border-radius: 20px;
    padding-bottom: 30px;
}

@media all and (max-width:800px){
    article{
        background-color: white;
}
}


.titre-article{
    padding: 20px 0px 0px 20px;
    font-weight: bold;

}

.hebergements{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

figure{
    width: 240px;
    height: auto;
    margin: 20px 10px;
    border: solid 5px white;
    border-radius: 20px;
    background-color: white;
    line-height:8px;
    overflow: hidden;
    box-shadow:1px 1px 8px rgb(184, 178, 178);
    
}

@media all and (max-width : 800px){
    figure {
        width: 100%;
    }
}

figure:hover{
    box-shadow:1px 1px 5px black; ;
}

article a{
    text-decoration: none;

}

.fa-star{
    color: #0065FC;
   
}
.stargrey{
    color: #f2f2f2;
   
}


figcaption{
    padding-left: 10px;
    color: black;
}

figcaption h3{
    font-size: 14px;
    font-weight: 900;
    
}

.img-hebergements{
    width: 100%;
    height: 100px;
    object-fit: cover;

}

.afficher-plus{
    text-decoration: none;
    color: black;
    padding-left: 20px;
    font-weight: bold;
    font-size: 15px;
}

/*Section populaire*/

aside{
    background-color: #F2F2F2;
    border-radius: 20px;
    flex: 1.2;
    float: right;
}

@media all and (max-width : 800px){
    aside{
        border-radius: 0px;
    }
}

aside a{
    text-decoration: none;
}

.titre-populaire{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 20px 0px 0px 20px;
    font-weight: bold;
    
}
.fa-chart-line:before{
    padding-right: 20px;
}



.populaire{
    display: flex;
    flex-direction: column;
}

.figure-populaire{
    
    border: solid 5px white;
    width: 80%;
    height: 120px;
    margin: 10px;
    
}


.img-populaire{
    width: 128px;
    height: 120px;
    object-fit: cover;
    float: left;
    
}

.figcaption-populaire{
    padding-left: 140px;
    line-height: 13px;
    
}

@media all and (max-width:800px){
    .figure-populaire{
        height: 140px;
    }
    .img-populaire{
        height: 140px;
        object-fit: cover;
    }
}



.figcaption-populaire p{
    padding-bottom: 18px;
}



/*Activité*/

.activites{
    background-color: white;
    margin-top: 25px;
    width: 100%;
}

.activites h1{
    padding-left: 20px;
}




.colonnes{
    display: flex;
    flex-wrap: wrap;   
    justify-content: space-between;
}

.colonnes figure{
    border-radius: 15px;
    border : 0px;

}

.colonnes figcaption{
    height: 30px;
    padding-left: 15px ;
    text-align: justify;
}



/*Colonne 1*/ 


.colonne1 img{
    width: 100%;
    height: 250px;
    object-fit: cover;
  

}

/*Colonne 2*/ 


.colonne2 img{
    width: 100%;
    height: 65px;
    object-fit: cover;
  
}



#fort{
    width: 100%;
    height: 122px;
    
}



/*Colonne 3*/ 


.colonne3 img{
    width: 100%;
    height: 250px;
    object-fit: cover;
}

/*Colonne 4*/ 

#img-garde{
    width: 100%;
    height: 100px;
    object-fit: cover;
}

.colonne4 img{
    width: 100%;
    height: 80px;
    object-fit: cover;
  
}

.activites figcaption h3{
    font-size: 13px;
    font-weight: bold;
    }


@media all and (max-width:800px){
    .colonnes {
       
        margin: auto;
    }
    .colonnes img{
        height: 100px;
    }
}

/*Footer*/

#footer{
    display: flex;
    background-color: #F2F2F2 ;
    font-family: 'Raleway', sans-serif;

    
}

#footer a{
    display: block;
    text-decoration: none;
    color: black;
    padding-bottom: 10px;
    font-size: 14px;
}

#footer h3{
    font-size: 14px;
}

.footer-colonne1, .footer-colonne2, .footer-colonne3{
    margin: 10px 200px 10px 40px;
}