/*Police écriture*/

@font-face {
    font-family: 'Releway';
    src: url('MaSuperPolice.eot');
}

/*Page*/

#bloc_page
{
    width: 1200px;
    margin: auto;
    font-family: 'Raleway', sans-serif;

}

/*Header*/

header{
    display: flex;
    justify-content:space-between;
}

/*Navigation*/

#logo{
    padding: 32px;
}

nav {
        
        display: flex;
    }


nav a {
    color : black;
    text-decoration: none;
    padding: 32px;
    
    
}

nav a:focus {
    color : #0065FC;
    border-top:solid 3px #0065FC ;
    
}

nav a:hover {
    border-top:solid 3px #0065FC ;
    color: #0065FC;
    
}


#inscrire {
    color: #0065FC;
    font-weight: bold;
}
/*Recherche*/

h1{
    font-size: medium;
    font-weight: 800;
    line-height: 2px;
}

p{
    font-size: small;
}

.fa-map-marker-alt:before{
    background-color: #F2F2F2;
    padding: 8px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

input[type=search]{
    font-weight: bold;
    padding: 6px;
    border: solid 1px #F2F2F2;

}

input[type=button] {
    color: white;
    font-size: 12px;
    background-color:#0065FC ;
    padding:7px;
    border: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
/*Filtres*/

.filtres {
    display: flex;
    align-items: baseline;
    
}

h2{
    font-size: small;
    font-weight: bold;
    margin-right: 10px;
}

.fa-money-bill-wave:before, .fa-child:before,.fa-heart:before,  .fa-dog:before {
    color: #0065FC ;
    background-color: #DEEBFF;
    padding: 11px;
    border-radius: 20px;
    position: relative;
    left: 25px;

}
#economique, #familial, #romantique, #animaux {
    color: black;
    font-weight: bold;
    background-color: white;
    border: solid 2px #f2f2f2 ;
    border-radius: 20px;
    padding: 10px 15px 10px 30px;
    
}

/*Section Hébergements*/


section{
   display: flex;
  
}

article{
    flex: 2.9;
    margin-right: 15px;
    background-color: #F2F2F2;
    border-radius: 20px;
}

.titre-article{
    padding: 20px 0px 0px 20px;
    font-weight: bold;
}

.hebergements{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

figure{
    width: 240px;
    height: auto;
    margin: 20px 10px;
    border: solid 5px white;
    border-radius: 20px;
    background-color: white;
    line-height:8px;
    overflow: hidden;
    box-shadow:1px 1px 8px rgb(184, 178, 178);
    
}

figure:hover{
    box-shadow:1px 1px 5px black; ;
}

article a{
    text-decoration: none;

}

.star{
    color: #0065FC;
   
}
.stargrey{
    color: #f2f2f2;
   
}


figcaption{
    padding-left: 10px;
    color: black;
}

figcaption h3{
    font-size: small;
    font-weight: 900;
    
}

.img-hebergements{
    width: 100%;
    height: 100px;
    object-fit: cover;

}

.afficher-plus{
    text-decoration: none;
    color: black;
    padding: 20px 0px 0px 20px;
    font-weight: bold;
}

aside{
    background-color: #F2F2F2;
    border-radius: 20px;
    flex: 1.2;
    float: right;
}

.titre-populaire{
    display: flex;
    justify-content: space-between;
    
}



.populaire{
    display: flex;
    flex-direction: column;
}

.figure-populaire{
    
    border: solid;
    width: 100%;
    height: 120px;
    line-height:18px;
    width: 90%;
}

.img-populaire{
    width: 128px;
    height: 120px;
    object-fit: cover;
    float: left;
    
}

/*Activité*/

.activites{
    background-color: white;
    margin-top: 25px;
}




.colonnes{
    display: flex;
    flex-wrap: wrap;   
}

.colonnes figure{
    box-shadow: 1px 1px 5px black;
    border-radius: 15px;
    border : 0px;

}

.colonnes figcaption{
    height: 15px;
    padding-left: 15px ;
}



/*Colonne 1*/ 


.colonne1 img{
    width: 90%;
    height: 350px;
    object-fit: cover;
  

}

/*Colonne 2*/ 


.colonne2 img{
    width: 100%;
    height: 60px;
    object-fit: cover;
  
}

#fort{
    width: 100%;
    height: 90px;
}

/*Colonne 3*/ 


.colonne3 img{
    width: 100%;
    height: 350px;
    object-fit: cover;
}

/*Colonne 4*/ 

#img-garde{
    width: 100%;
    height: 60px;
    object-fit: cover;
}

.colonne4 img{
    width: 100%;
    height: 70%;
    object-fit: cover;
  
}

/*Footer*/

#footer{
    display: flex;
    background-color: #F2F2F2 ;
    font-family: 'Raleway', sans-serif;

    
}

#footer a{
    display: block;
    text-decoration: none;
    color: black;
    padding-bottom: 10px;
}

.footer-colonne1, .footer-colonne2, .footer-colonne3{
    margin: 10px 200px 10px 40px;
}




